<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PORTFOLIO</title>
</head>
<body>
    <h2 style="text-align: center">PORTFOLIO</h2>
    <table style="width:40%;border: 1px solid black;">
        <tr style="border: 1px solid black;">
            <th style="border: 1px solid black;">Nom</th>
            <th style="border: 1px solid black;">Prénom</th>
            <th style="border: 1px solid black;">Age</th>
            <th style="border: 1px solid black;">Section</th>
        </tr>
        <tr>
            <td style="border: 1px solid black;">{{nom}}</td>
            <td style="border: 1px solid black;">{{prenom}}</td>
            <td style="border: 1px solid black;">{{age}}</td>
            <td style="border: 1px solid black;">{{section}}</td>
        </tr>
    </table>
</body>
</html>