{% extends '@WahidProjetTwig/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" href="{{ asset('bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600') }}" rel='stylesheet'>
{% endblock %}
{% block body %}
    <table class="table table-bordered table-striped table-condensed">
        <caption> <h2>Liste des sections :</h2> </caption>
        <thead>
            <tr>
                <th>Nom</th>
        </thead>
        <tbody>
        {% for section in section %}
            <tr>
                <td>{{ section.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
