{% extends '@WahidHandlingUser/layout.html.twig' %}
{% block body %}
    <table class="table table-bordered table-striped table-condensed">
        <caption> <h2>Liste des sections :</h2> </caption>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Modifier</th>
                <th>Supprimer </th>
            </tr>
        </thead>
        <tbody>
        {% for section in section %}
            <tr>
                <td>{{ section.name }}</td>
                <td><a href="{{ path('wahid_projet_crud_update_section_user',{ id:section.id}) }}">
                        <button class="btn btn-small">
                            <i class="fas fa-wrench"></i>
                        </button>
                    </a>
                </td>
                <td><a href="{{ path('wahid_projet_crud_delete_section_user',{ id:section.id}) }}">
                        <button class="btn btn-small">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
